.about-container {
  padding: 20px;
  font-family: 'Poppins', sans-serif; 
}

.about-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-header h1 {
  color: #004aad;
}

.about-content {
  display: flex;
  align-items: flex-start; /* Alinea el contenido en la parte superior */
  gap: 20px; /* Espaciado entre la imagen y el texto */
  box-shadow: 0px 4px 10px rgba(51, 153, 255, 0.5); /* Sombra azul con transparencia */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

.about-text {
  flex: 2; /* El texto ocupa más espacio */
  padding-right: 20px;
  padding-left: 50px;
}

.about-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-text p, .about-text ul {
  margin-bottom: 15px;
}

.about-text ul {
  list-style: none;
  padding: 0;
}

.about-text li {
  margin-bottom: 10px;
}


.about-item h2{
  color: #0080ff;
}
.about-image {
  flex: 1; /* La imagen ocupa menos espacio */
  padding-left: 10px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menombre {
  font-weight: bold;
}

.btn {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  text-decoration: none; /* Esto elimina el subrayado predeterminado de los enlaces */
  display: inline-flex; /* Cambiar a flex para alinear el contenido */
  align-items: center; /* Centra verticalmente el texto y la imagen */
}

.download-icon {
  width: 20px; /* Ajusta el tamaño de la imagen */
  height: 20px;
  margin-left: 10px; /* Espacio entre el texto y la imagen */
}

.btn:hover {
  background-color: #03408f;
}
