/* Services.css */

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif; /* Tipografía moderna */

}

.services-content {
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
}

.services-section {
  text-align: center;
}

.services-header h1 {
  font-size: 2.5rem;
  color: #004aad;
  margin-bottom: 1.5rem;
}

.services-section h2 {
  font-size: 1.8rem;
  color: #444;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.services-section p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #cee6ff;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



.service-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 1.5rem;
  object-fit: cover;
}

.service-info {
  flex: 1;
  text-align: left;
}

.service-info h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.service-info p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .services-content {
    padding: 1.5rem;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .service-image {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .service-info {
    text-align: center;
  }

  .services-header h1 {
    font-size: 2rem;
  }

  .services-section h2 {
    font-size: 1.5rem;
  }

  .services-section p, .service-info p {
    font-size: 1rem;
  }
}